/* Efecto para la página activa */
.pagination .page-item.active .page-link {
  background-color: #715285;   /* Color de fondo cuando la página está activa */
  border-color: #ffffff;       /* Color del borde para la página activa */
  color: white;                /* Color del texto para la página activa */
  transform: scale(1.1);        /* Aumenta ligeramente el tamaño para resaltar la página */
  transition: background-color 0.3s ease, transform 0.3s ease;  /* Transición suave para el cambio */
}

/* Estilo predeterminado para los enlaces de las páginas */
.pagination .page-item .page-link {
  color: #007bff;               /* Color del texto predeterminado */
  border: 1px solid #ffffff;    /* Borde blanco */
  cursor: pointer;              /* Cursor de mano para indicar que es un elemento interactivo */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para hover */
}

/* Efecto hover cuando el usuario pasa el mouse sobre el enlace de la página */
.pagination .page-item .page-link:hover {
  background-color: #6c5a7b;     /* Color de fondo cuando el mouse pasa sobre la página */
  color: white;                  /* Color blanco para el texto cuando el mouse pasa */
  transform: scale(1.05);        /* Aumenta el tamaño sutilmente al pasar el mouse */
}

/* Estilo para los enlaces de las páginas deshabilitadas */
.pagination .page-item.disabled .page-link {
  color: #6c757d;               /* Color gris para las páginas deshabilitadas */
  pointer-events: none;          /* Desactiva los clics en las páginas deshabilitadas */
  background-color: transparent;
  border-color: #ffffff;        /* Borde blanco para las páginas deshabilitadas */
}
