/* You can add global styles to this file, and also import other style files */
.adamina-regular {
  font-family: "Adamina", serif;
  font-weight: 400;
  font-style: normal;
}

.aboreto-regular {
  font-family: "Aboreto", serif;
  font-weight: 400;
  font-style: normal;
}

.btn-primary {
  background-color: #c69e5d;
  border: none;
  border-radius: 10px;
  width: 100%;
  padding: 12px;
  font-size: 16px;
}

.btn-primary:hover {
  background-color: #bf7738;
}
